/* Global Styles */
body {
    background: url('imgs/3c8697cc39d6880a11f62fee8b6d1e8a.jpg') repeat;
    color: #F5C75E;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

header {
    display: flex;
    position: relative;
    background-color: #2c0a0a;
    padding: 20px;
    border-bottom: 2px solid #F5C75E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 3em;
    text-shadow: 0px 0px 8px #F5C75E;
    font-family: 'Orbitron', sans-serif;
    padding-left: 25%;
}



footer {
    background-color: #2c0a0a;
    color: #F5C75E;
    text-align: center;
    padding: 10px;
}

.poster-form {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border: 2px solid #F5C75E;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 12px #F5C75E;
    border-radius: 10px;
}

.poster-form h2 {
    color: #F5C75E;
    font-size: 2em;
}

.poster-form label {
    display: block;
    margin: 10px 0;
    color: #F5C75E;
}

.poster-form input[type="text"],
.poster-form input[type="number"],
.poster-form input[type="file"] {
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #F5C75E;
    border-radius: 5px;
    background-color: #222;
    color: #F5C75E;
}

.poster-form button {
    background-color: #F5C75E;
    color: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.poster-form button:hover {
    background-color: #FF6600;
}

.poster-output {
    margin-top: 40px;
    padding: 20px;
    border: 2px solid #F5C75E;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 12px #F5C75E;
    max-width: 600px;
    margin: 0 auto;
    display: none;
    border-radius: 10px;
    background-size: cover;
}

.poster-output canvas {
    max-width: 100%;
    height: auto;
}

.user-image {
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.poster-output button {
    background-color: #F5C75E;
    color: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.poster-output button:hover {
    background-color: #FF6600;
}

.poster-output h3 {
    color: white;
    font-size: 1.5em;
    font-family: 'PirateFont', cursive;
}

.poster-output img {
    max-width: 100%;
    height: auto;
    border: 2px solid #F5C75E;
    margin-top: 20px;
    box-shadow: 0px 0px 12px #F5C75E;
}

.wanted-level {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ff0000;
}
